@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.Toastify__toast-body > div:nth-child(2) {
    font-size: 14px !important;
}

.ck.ck-content {
    height: 10rem !important;
}

.ck ul,
.ck ol {
    padding-left: 20px;
}
