.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.2rem;
}

.user-search {
  height: 2rem;
  width: 20rem;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid transparent;
  outline: none;
  background-color: white !important;
  font-size: 14px;
}

.user-filter {
  height: 2rem;
  width: 10rem;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid transparent;
  outline: none;
  background-color: white !important;
}

.user-filter-for-edit {
  height: 2.8rem;
  width: 100%;
  border-radius: 5px;
  padding: 10px 5px;
  border: 1px solid transparent;
  outline: none;
  background-color: white !important;
}
